In [1]:
print("welcome to session 1")

welcome to session 1

In [2]:
print("hello world")

hello world

In [1]:
# this is a commented line
riverName1 = "Ganga" # A comment can follow after a line of code.
					 # Above one is called an inline-comment.


# riverName2 = "Amazon"  # this line of code is commented

riverName3 = "Nile#Long" # The # character which is part of a string 
						 # is part of the text and does not start a comment

In [2]:
def add(a, b): 
	"""Return the sum of given arguments."""
	return a + b
print(add.__doc__)

Return the sum of given arguments.

In [3]:
a = 10 # This is an assignment statement
b = 10 # This is an assignment statement
print(a + b) # a + b is an expression and print(a + b) is a statement

20

In [4]:
b = 10 # This is an assignment statement
c = 10 # This is an assignment statement
a = b * 5 + c # b * 5 + c is an expression, we are assigning this expression to the variable a then a = b * 5 + c is an assignment statement 
print(a)

60

In [5]:
name=input("Enter your name: ")
print("user name is: ",name)

user name is:  pradeep

In [7]:
a= int(input("Enter an integer :"))
print(a)

10

In [8]:
print("Hi", "Hello", "Python")

Hi Hello Python

In [9]:
a = 10
b = 50
print("A value is", a, "and", "B value is", b) # will print output as follows

A value is 10 and B value is 50

In [11]:
a = 10
b = 20.234
str = "Hello"
print("The value of a = %d, b = %.2f and str = %s" %(a, b, str))

The value of a = 10, b = 20.23 and str = Hello

In [12]:
print("The value of a = {}, b = {} and str = {}".format(a, b, str))

The value of a = 10, b = 20.234 and str = Hello

In [13]:
a = 5 # variable a now refers to Integer data type
print("  a is of  ", type(a))

  a is of   <class 'int'>

In [14]:
a = 90.45 # variable a now refers to Float data type
print("  a is of  ", type(a))

  a is of   <class 'float'>

In [16]:
a = 5 # variable a now refers to Integer data type
print("  a is of  ", type(a))
a = 90.45 # variable a now refers to Float data type
print("  a is of  ", type(a))
a = "India"  # variable a now refers to String data type
print("  a is of  ", type(a))
a = [5, 90.45, "India"]  # variable a now refers to List data type
print("  a is of  ", type(a))

  a is of   <class 'int'>
  a is of   <class 'float'>
  a is of   <class 'str'>
  a is of   <class 'list'>

In [17]:
a = -7
print(type(a)) # will print output as follows

<class 'int'>

In [18]:
a = 2 + 3j # It is important to note that there should not be any space between 3 and j
print(type(a)) # will print output as follows

<class 'complex'>

Strings

In [19]:
# 1. Using single quotes (' ')
str1 = 'Welcome To Python World'
print(str1)# will print output as follows
print (type(str1))

Welcome To Python World

In [22]:
sentence =  "Welcome to Python's world"
print (sentence) # will print output as follows

Welcome to Python's world

In [23]:
sentence =  'Welcome to Python\'s world' # observe a backslash (\) before (')
print (sentence) # will print output as follows

Welcome to Python's world

In [24]:
str = """Welcome to the world of Python
I love Python and Python is very easy to learn
Practice makes man perfect"""
print(str) # will print output as follow

Welcome to the world of Python
I love Python and Python is very easy to learn
Practice makes man perfect

List

In [25]:
list1 = [1, 2.0, "one", "hi"]
print(list1) # will print output as follows

[1, 2.0, 'one', 'hi']

In [28]:
list2 = [4, 5, "hello"]
print(list2) # will print output as follows
print(list2[0])
print(list2[2])
print(list2[-1])

[4, 5, 'hello']
4
hello
hello

In [1]:
l = [1, 4, 5, 7, 4, 15]
print( l[2:4])

[5, 7]

In [6]:
l = [1, 4, 6, 22, 44, 12, 55, 66]
l[3:]

[22, 44, 12, 55, 66]

In [5]:
l = [1, 4, 6, 22, 44, 12, 55, 66]
l[:4]

[1, 4, 6, 22]

In [4]:
list1 = [1, 2, 'one', 'hi']
list2 = [4, 5, 'hello']
print(list1 + list2) # will print output as follows

[1, 2, 'one', 'hi', 4, 5, 'hello']

Working with nested list

In [2]:
list1 = [23, 5.65, ["A", 34.23], "India"]
print(list1[2] [0] )

A

In [3]:
list1 = [23, 5.65, ["A", 34.23,"hello", 5,7], "India"]
print(list1[2] [2] )

hello

In [7]:
list1 = [23, 5.65, ["A", 34.23,"hello", 5,7], "India"]
print(list1[2][2])

hello

In [8]:
chars = ['a', 'b', 'c', 'd']
chars[3] = 'xyz'
print(chars) # will print output as follows

['a', 'b', 'c', 'xyz']

In [9]:
chars = ['a', 'b', 'c', 'd']
chars.append("abcd")
print(chars) # will print output as follows

['a', 'b', 'c', 'd', 'abcd']

In [10]:
chars = ['a', 'b', 'c', 'd']
chars.append( ['e', 'f'])  # This will append the list ['e', 'f'] as the last item to the chars list.  
print(chars) # will print output as follows

['a', 'b', 'c', 'd', ['e', 'f']]

In [11]:
chars = ['a', 'b', 'c', 'd']
list2 = [1, 2, 3]
chars.extend(list2)
print(chars) # will print output as follows

['a', 'b', 'c', 'd', 1, 2, 3]

Set

In [12]:
myset = set()
print(myset) # will print empty set.
print(type(myset)) # will print type of myset.

set()
<class 'set'>

In [13]:
myset1 = {1, 2, 3} 
print(myset1) # will print the elements of a set.
print(type(myset1)) # will print type of myset1.

{1, 2, 3}
<class 'set'>

In [14]:
chars = {'a', 'b', 'c', 'd'}
#chars[3] = 'xyz'
print(chars)

{'a', 'b', 'c', 'd'}

In [15]:
chars.add("F")
print(chars)

{'F', 'c', 'a', 'b', 'd'}

Tuple

In [1]:
tuple1 = ("hi", "hello", 55, 66)
print(tuple1[-3]) # Printing the element at the  0th index of the tuple, tuple1

hello

In [2]:
tuple1 = ('hi', 'hello', 55, 66) # Creating a tuple, tuple1
print("Given tuple :",tuple1) 
list1 = list(tuple1) # Converting the tuple to a list using built-in list() function.
print("After conversion of tuple to list :",list1) 
list1[2] = "fifty five"  # Updating the value of element at 2nd index. This does not result in an error as the lists are mutable.
print("List after changing the element :",list1) 
tuple1 = tuple(list1)  # Converting the list back to tuple using the built-in tuple() method.
print("After converting list into tuple :",tuple1) # Printing the final tuple with the updated element at 2nd index.

Given tuple : ('hi', 'hello', 55, 66)
After conversion of tuple to list : ['hi', 'hello', 55, 66]
List after changing the element : ['hi', 'hello', 'fifty five', 66]
After converting list into tuple : ('hi', 'hello', 'fifty five', 66)

Dictionary

In [3]:
# 1. Using built-in dict() function.
mydict = dict() # Creating an empty dictionary called mydict
print(type(mydict)) # Printing data type of mydict.
print(mydict)  # Prints empty dictionary.

<class 'dict'>
{}

In [4]:
mydict = dict(Hyderabad = 20, Delhi = 30) # A dictionary with two key pairs is created.
print(mydict) # Prints the dictionary

{'Hyderabad': 20, 'Delhi': 30}

In [5]:
mydict = {1:"one", 2 :"two", 3:"three"}  # Create a dictionary with three key-value pairs.
print(mydict) # Printing the dictionary
print(type(mydict)) # will print output as follows

{1: 'one', 2: 'two', 3: 'three'}
<class 'dict'>

In [6]:
# 1. Using the keys of the dictionary.
capitals = {"U.S.A" : "Washington D.C", "India" : "New Delhi", "Nepal" : "Khatmandu"} # Creating a dictionary, 
print(capitals["India"]) # Printing the value with the key "India" i.e. "New Delhi".
print(capitals["Nepal"]) # Printing the value with the key "Nepal" i.e. "Khatmandu".

New Delhi
Khatmandu

In [7]:
capitals = {"U.S.A" : "Washington D.C", "India" : "New Delhi", "Nepal" : "Khatmandu"} # Creating a dictionary, 
print(capitals.get("India")) # Printing the value with the key "India" i.e. "New Delhi".
print(capitals.get("Nepal")) # Printing the value with the key "Nepal" i.e. "Khatmandu".

New Delhi
Khatmandu